<div class="flex justify-center " data-aos="fade-down" data-aos-duration="1500" data-aos-delay="100">
    <div class="md:p-5 p-2  w-full">

        <swiper-container breakpoints='{"993": {"slidesPerView": 2, "grab-cursor":false}  }' autoplay="true"
            effect="coverflow" grab-cursor="false" pagination="true" coverflow-effect-modifier="1"
            coverflow-effect-slide-shadows="false" centered-slides="false" coverflow-effect-rotate="0"
            coverflow-effect-stretch="0" navigation="true" coverflow-effect-depth="50" space-between="25">
            <swiper-slide *ngFor="let slide of slides; let i = index" class="md:px-10 md:py-24 py-12 px-5">
                <a [routerLink]="slide.route"
                    class="grid md:grid-cols-2 grid-cols-1 items-start item bg-white border border-gray-200 rounded-lg shadow md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            
                    <img [ngClass]="{'object-cover': i !== 6, 'object-contain': i === 6}"
                        class="w-full rounded-t-lg h-full md:rounded-none md:rounded-s-lg" 
                        src="{{slide.imageUrl}}" alt="">
            
                    <div class="colorfondoim">
                        <div class="flex flex-col justify-start p-4 leading-normal md:h-96 h-auto">
                            <h5 class="mb-2 xl:text-2xl text-xl font-bold tracking-tight text-gray-900 dark:text-white" [innerHTML]="slide.description"></h5>
                            <p class="mb-3 font-normal md:text-sm text-base text-gray-700 dark:text-gray-400" [innerHTML]="slide.subtitle"></p>
                        </div>
                    </div>
                </a>
            </swiper-slide>
            
        </swiper-container>

        <!--swiper-container class="md:hidden block" autoplay="true" effect="coverflow" grab-cursor="true" pagination="true" coverflow-effect-modifier="1" coverflow-effect-slide-shadows="false" slides-per-view="1"
        centered-slides="false" coverflow-effect-rotate="0" coverflow-effect-stretch="0" navigation="true"
        coverflow-effect-depth="50" space-between="40">
        <swiper-slide *ngFor="let slide of slides" class="px-5">
            <a href="#">
                <div class="card w-full h-full  my-3">
                    <img class="w-full h-40 md:h-80 rounded-t-xl object-cover pointer-events-none"
                        src="{{slide.imageUrl}}" alt="{{slide.description}}">

                    <div class="bg-gray-50 rounded-b-xl   min-h-72 h-full py-5 shadow-md">
                        <div class="tarjeta px-7 py-5">
                            <h2 class="md:text-2xl text-xl text-gray-700 pointer-events-none">{{slide.description}}
                            </h2>
                            <p class="py-5 pointer-events-none">Lorem, ipsum dolor sit amet consectetur adipisicing
                                elit. Adipisci maiores
                                accusamus nisi eveniet doloribus sequi, obcaecati temporibus, asperiores.</p>
                        </div>

                    </div>

                </div>
            </a>
        </swiper-slide>
    </swiper-container-->











    </div>
</div>