<div class="md:p-5 p-2">
    <swiper class="cursor-grab active:cursor-grabbing" [config]="config">
        <ng-template  swiperSlide *ngFor="let slide of slides">
                <div class="card w-full h-full">
                    <img class="w-full  md:h-80 h-40 object-cover pointer-events-none" src="{{slide.imageUrl}}"
                        alt="{{slide.description}}">
                    <p>{{slide.description}}</p>
                </div>
               
        </ng-template>
  
    </swiper>
 

</div>