<h2> Lista de servicios </h2>

<p>
    - Extractos vegetales y microbianos
</p>

<p>
    - Aceites esenciales
</p>

<p>
    - Purificación y caracterización de compuestos 
</p>

<p>
    - Cannabis
</p>

<p>
    - Residuos agroindustriales
</p>

<p>
    - Actividades biológicas y toxicológicas de productos naturales y derivados
</p>

<p>
    - API/fitomedicamentos/cosmética natural( completar silvina)
</p>

<p>
    - ALIMENTOS/aditivos alimentarios (Chequear y completar gabriel)
</p>

<p>
    - Cultivo in vitro
</p>

<p>
    - Proteómica
</p>