<div class="dark:bg-gray-800 py-3" >


<footer  class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="#" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <div class="flex gap-5 items-center flex-wrap">
                    <img  data-aos="fade-down" data-aos-delay="1500" data-aos-duration="1200" src="{{imgs[1].imageUrl}}" class="h-16 block dark:hidden" alt="UPRONAT Logo" />
                    <img  data-aos="fade-down" data-aos-delay="1500" data-aos-duration="1200" src="{{imgs[0].imageUrl}}" class="h-16 hidden dark:block" alt="UPRONAT Logo DARK" />
                    <img  data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1200" src="{{imgs[3].imageUrl}}" class="h-16 block dark:hidden" alt="UNSL Logo" />
                    <img  data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1200" src="{{imgs[2].imageUrl}}" class="h-16 hidden dark:block" alt="UNSL Logo DARK" />
                </div>
            </a>
            <ul data-aos="fade-left" data-aos-delay="1500" data-aos-duration="1200"  class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a routerLink="/nosotros" class="hover:underline me-4 md:me-6">Nosotros</a>
                </li>
                <li>
                    <a routerLink="/capacidades-y-servicios" class="hover:underline me-4 md:me-6">Capacidades y servicios</a>
                </li>
                <li>
                    <a routerLink="/equipamiento-y-contacto" class="hover:underline">Equipamiento y Contacto</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="grid-cols-2 grid gap-10 dark:invert  dark:contrast-75" >
            <iframe   data-aos="fade-right" data-aos-delay="1500" data-aos-duration="1200" class="w-full h-60 rounded-lg" 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3335.0597569151378!2d-66.34320751125877!3d-33.29109962090822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d4396dc6afe3d5%3A0xc85c6ee71dfb2069!2sBloque%20III%2C%20FQBF%2C%20UNSL!5e0!3m2!1ses-419!2sar!4v1716566810424!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <iframe  data-aos="fade-left" data-aos-delay="1500" data-aos-duration="1200" class="w-full h-60 rounded-lg"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3335.040517434905!2d-66.34982672279719!3d-33.2916029734529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d4399f1ad4f5c3%3A0x261305572dd56a98!2sINTEQUI!5e0!3m2!1ses-419!2sar!4v1716742879702!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
     
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#"
                class="hover:underline">UPRONAT</a></span>
    </div>
</footer>

</div>