
<div class="max-w-screen-xl relative py-24" style="left: 50%; transform: translateX(-50%);">

    <h1 class="text-3xl">Preparamos extractos a partir de tu biomasa usando solventes verdes o fluidos supercríticos y los caracterizamos mediante tecnologías analíticas de alta complejidad
    </h1>
    
        <div class="p-3" id="accordion-color" data-accordion="collapse" data-active-classes="bg-emerald-100 dark:bg-gray-800 text-emerald-600 dark:text-white">
            <h2 id="accordion-color-heading-1">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-emerald-200 dark:focus:ring-emerald-800 dark:border-gray-700 dark:text-gray-400 hover:bg-emerald-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-color-body-1" aria-expanded="true" aria-controls="accordion-color-body-1">
                <span>Preparación de extractos a partir de biomasa vegetal, residuos agroindustriales y cultivos microbianos por extracción con solventes verdes y fluidos supercríticos. (descripción, ventajas y aplicaciones de SCF) </span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
                <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">A</p>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">B</p>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">C</p>
                    <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                      <li><a href="#" class="text-emerald-600 dark:text-emerald-500 hover:underline">D</a></li>
                      <li><a href="#" rel="nofollow" class="text-emerald-600 dark:text-emerald-500 hover:underline">E</a></li>
                    </ul>
                  </div>
            </div>
            <h2 id="accordion-color-heading-2">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-emerald-200 dark:focus:ring-emerald-800 dark:border-gray-700 dark:text-gray-400 hover:bg-emerald-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-color-body-2" aria-expanded="false" aria-controls="accordion-color-body-2">
                <span>Extracciones liquido-liquido
                </span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
                <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">A</p>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">B</p>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">C</p>
                    <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                      <li><a href="#" class="text-emerald-600 dark:text-emerald-500 hover:underline">D</a></li>
                      <li><a href="#" rel="nofollow" class="text-emerald-600 dark:text-emerald-500 hover:underline">E</a></li>
                    </ul>
                  </div>
            </div>
            <h2 id="accordion-color-heading-3">
              <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-emerald-200 dark:focus:ring-emerald-800 dark:border-gray-700 dark:text-gray-400 hover:bg-emerald-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-color-body-3" aria-expanded="false" aria-controls="accordion-color-body-3">
                <span>Extracciones y fraccionamientos con solventes verdes</span>
                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                </svg>
              </button>
            </h2>
            <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
              <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
                <p class="mb-2 text-gray-500 dark:text-gray-400">A</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">B</p>
                <p class="mb-2 text-gray-500 dark:text-gray-400">C</p>
                <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                  <li><a href="#" class="text-emerald-600 dark:text-emerald-500 hover:underline">D</a></li>
                  <li><a href="#" rel="nofollow" class="text-emerald-600 dark:text-emerald-500 hover:underline">E</a></li>
                </ul>
              </div>
            </div>
    
    
            <h2 id="accordion-color-heading-4">
                <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-emerald-200 dark:focus:ring-emerald-800 dark:border-gray-700 dark:text-gray-400 hover:bg-emerald-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-color-body-4" aria-expanded="false" aria-controls="accordion-color-body-4">
                  <span>Extracciones y separaciones con fluidos supercríticos</span>
                  <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div id="accordion-color-body-4" class="hidden" aria-labelledby="accordion-color-heading-4">
                <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
                  <p class="mb-2 text-gray-500 dark:text-gray-400">A</p>
                  <p class="mb-2 text-gray-500 dark:text-gray-400">B</p>
                  <p class="mb-2 text-gray-500 dark:text-gray-400">C</p>
                  <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                    <li><a href="#" class="text-emerald-600 dark:text-emerald-500 hover:underline">D</a></li>
                    <li><a href="#" rel="nofollow" class="text-emerald-600 dark:text-emerald-500 hover:underline">E</a></li>
                  </ul>
                </div>
              </div>
    
    
    
              <h2 id="accordion-color-heading-5">
                <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-emerald-200 dark:focus:ring-emerald-800 dark:border-gray-700 dark:text-gray-400 hover:bg-emerald-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-color-body-5" aria-expanded="false" aria-controls="accordion-color-body-5">
                  <span>Caracterización cromatográfica y espectrométrica (RMN, EM, UV, IR)</span>
                  <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                  </svg>
                </button>
              </h2>
              <div id="accordion-color-body-5" class="hidden" aria-labelledby="accordion-color-heading-5">
                <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
                  <p class="mb-2 text-gray-500 dark:text-gray-400">A</p>
                  <p class="mb-2 text-gray-500 dark:text-gray-400">B</p>
                  <p class="mb-2 text-gray-500 dark:text-gray-400">C</p>
                  <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                    <li><a href="#" class="text-emerald-600 dark:text-emerald-500 hover:underline">D</a></li>
                    <li><a href="#" rel="nofollow" class="text-emerald-600 dark:text-emerald-500 hover:underline">E</a></li>
                  </ul>
                </div>
              </div>
          </div>
          
    