<header class="sticky top-0 z-50 border-solid border-b-2 border-zinc-400">
    <nav class="
        flex flex-wrap
        justify-center
        w-full
        h-24
        px-0
        text-lg text-gray-700
        bg-white
    ">
        <div class="
            w-full max-w-7xl
            h-full
            flex flex-wrap
            items-center
            justify-between
        ">
            <div>
               <img src="{{imgs[1].imageUrl}}" alt="" width="200" height="200">
            </div> 
            <ul class=" gap-4 px-4 md:flex hidden">
                <li>  Tecnología </li>
                <li>  Plataforma </li>
                <li>  Beneficios </li>
                <li>  Contacto </li>
                <div class="gtranslate_wrapper"></div>
            </ul>
        </div>
    </nav>
</header>