
<div class="md:h-24 h-20 relative w-full bg-emerald-600 top-0"></div>
<nav class="fixed w-full top-0 bg-white border-gray-200 dark:border-gray-600 dark:bg-gray-900 z-50 overflow-auto h-auto" style="border-bottom:3px solid #7cac54;">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="{{imgs[1].imageUrl}}" class="md:h-16 h-12 block dark:hidden" alt="UPRONAT Logo" />
      <img src="{{imgs[0].imageUrl}}" class="md:h-16 h-12 hidden dark:block" alt="UPRONAT Logo" />
    </a>
    <button (click)="toggleMenu()"  type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu-full" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <div id="mega-menu-full" [ngClass]="{'hidden': !isMenuOpen, 'block': isMenuOpen}"  class="items-center justify-between font-medium w-full md:flex md:w-auto md:order-1">
      <ul class="flex md:items-center flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a routerLink="/" (click)="closeMenu()" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-emerald-700 md:p-0 dark:text-white md:dark:hover:text-emerald-500 dark:hover:bg-gray-700 dark:hover:text-emerald-500 md:dark:hover:bg-transparent dark:border-gray-700" aria-current="page">Inicio</a>
        </li>
        <li>
          <button id="mega-menu-full-dropdown-button" (click)="toggleSubMenu()" class="flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded md:w-auto hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-emerald-600 md:p-0 dark:text-white md:dark:hover:text-emerald-500 dark:hover:bg-gray-700 dark:hover:text-emerald-500 md:dark:hover:bg-transparent dark:border-gray-700">
            Capacidades y servicios <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
            </svg>
          </button>
        </li>
        <li>
          <a routerLink="/nosotros" (click)="closeMenu()" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-emerald-700 md:p-0 dark:text-white md:dark:hover:text-emerald-500 dark:hover:bg-gray-700 dark:hover:text-emerald-500 md:dark:hover:bg-transparent dark:border-gray-700">Nosotros</a>
        </li>
        <li>
          <a routerLink="/equipamiento" (click)="closeMenu()" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-emerald-700 md:p-0 dark:text-white md:dark:hover:text-emerald-500 dark:hover:bg-gray-700 dark:hover:text-emerald-500 md:dark:hover:bg-transparent dark:border-gray-700">Equipamiento</a>
        </li>
        <li>
          <a routerLink="/contacto" (click)="closeMenu()" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-emerald-700 md:p-0 dark:text-white md:dark:hover:text-emerald-500 dark:hover:bg-gray-700 dark:hover:text-emerald-500 md:dark:hover:bg-transparent dark:border-gray-700">Contacto</a>
        </li>
        <li><app-theme-toggle-button></app-theme-toggle-button></li>
      </ul>
    </div>
  </div>
  <div id="mega-menu-full-dropdown"  [ngClass]="{'hidden': !isSubMenuOpen, 'block': isSubMenuOpen}" class="mt-1  border-gray-200 shadow-sm bg-gray-50 md:bg-white border-y dark:bg-gray-800 dark:border-gray-600 ">
    <div class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 dark:text-white sm:grid-cols-2 md:px-6 overflow-y-scroll" style="height: 27vh;">
      <ul>
        <li>
          <a routerLink="/capacidades-y-servicios/extractos" (click)="closeMenu()" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="font-semibold">Preparación, fraccionamiento y análisis de extractos a partir de biomasa vegetal, residuos agroindustriales y cultivos microbianos</div>
          </a>
        </li>
        <li>
          <a routerLink="/capacidades-y-servicios/aceites-esenciales" (click)="closeMenu()" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="font-semibold">Obtención y caracterización de aceites esenciales, hidrolatos y extractos volátiles</div>
          </a>
        </li>
        <li>
          <a routerLink="/capacidades-y-servicios/cannabis" (click)="closeMenu()" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="font-semibold">Obtención de bioproductos derivados de biomasa de cáñamo y cannabis</div>
          </a>
        </li>
        <li>
          <a routerLink="/capacidades-y-servicios/cannabis" (click)="closeMenu()" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="font-semibold">Análisis químicos, microbiológicos y moleculares para asegurar la calidad e inocuidad de derivados del cannabis</div>
          </a>
        </li>
        <li>
          <a routerLink="/capacidades-y-servicios/bioactivos-para-cosmetica" (click)="closeMenu()" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="font-semibold">Extracción, purificación y caracterización de bioactivos a partir de biomasa vegetal y microbiana</div>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a routerLink="/capacidades-y-servicios/aditivos-alimentarios-y-nutraceuticos" (click)="closeMenu()" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="font-semibold">Recuperación de ingredientes a partir de subproductos agroalimenticios</div>
          </a>
        </li>
        <li>
          <a routerLink="/capacidades-y-servicios/vinos" (click)="closeMenu()" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="font-semibold">Análisis de vinos mediante <sup class="pl-1"> 1</sup> H-NMR Wine screening</div>
          </a>
        </li>
        <li>
          <a routerLink="/capacidades-y-servicios/analisis-metabolicos-y-proteomicos" (click)="closeMenu()" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="font-semibold">Análisis metabolómicos técnicas espectrométricas (RMN y EM)</div>
          </a>
        </li>
        <li>
          <a routerLink="/capacidades-y-servicios/cultivo-in-vitro" (click)="closeMenu()" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="font-semibold">Establecimiento, producción y caracterización de cultivos de células madres vegetales</div>
          </a>
        </li>
        <li>
          <a routerLink="/capacidades-y-servicios/bioactividad-de-sustancias-puras-y-mezclas-complejas" (click)="closeMenu()" class="block p-3 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <div class="font-semibold">Análisis de bioactividad y toxicidad de sustancias puras y mezclas complejas</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

