<header class="sticky top-0">
    <nav class="
        flex flex-wrap
        justify-center
        w-full
        h-24
        px-0
        text-lg text-gray-700
        bg-orange-300
    ">
        <div class="
            border border-black
            w-full max-w-7xl
            h-full
            flex flex-wrap
            items-center
            justify-between
        ">
            <div>
                <h1>Icon</h1>
            </div> 
            <ul class="flex gap-4 px-4">
                <li>  Tecnología </li>
                <li>  Plataforma </li>
                <li>  Beneficios </li>
                <li>  Contacto </li>
            </ul>
        </div>
    </nav>
</header>