<div class="flex justify-center py-24 px-3">
    <div class="max-w-screen-xl">

        <div class="flex">
            <img class="relative md:w-24  md:h-24 w-12 h-12" src="{{imgs[0].imageUrl}}" alt="" />
            <div class="dark:text-white text-gray-600">
                <h1 class="md:text-3xl text-base font-bold text-center"> Unidad de Productos Naturales “Dr. Carlos
                    Eugenio Tonn”
                </h1>
                <h1 class="md:text-3xl text-base font-bold text-center"> UNIDAD ESPECIAL DE EXTRACCIÓN, PROCESAMIENTO Y
                    ANÁLISIS DE PRODUCTOS
                    NATURALES
                </h1>
            </div>
        </div>
        <div class="dark:text-white">
            <p class="py-5">

                La UProNat-UNSL es una Unidad de I+D+i comprometida con la generación sustentable de productos y
                servicios
                tecnológicos basados en la extracción, producción, procesamiento y análisis de productos naturales
                destinados a la industria alimenticia, cosmética y farmacéutica entre otras. Tiene sede en la Facultad
                de
                Química, Bioquímica y Farmacia (FQByF) y dependencia administrativa de la Secretaría de Ciencia y
                Tecnología
                de la Universidad Nacional de San Luis.
            </p>
            <p>
                La UProNat-UNSL está pensada para ser un punto de encuentro de docentes, estudiantes, investigadores,
                científicos, emprendedores, empresarios y gobernantes para generar, en forma sinérgica, acciones
                relacionadas al aprovechamiento integral e integrador de productos naturales con el fin de producir
                innovaciones que sean disruptivas para el desarrollo de la región.
            </p>
            <p>
                Su estructura de gestión esta presidida por el Rector de la UNSL y actualmente está constituida por:
            </p>

            <ul class="md:p-5 p-2">
                <li> -<b>Directora</b>: Dr. Marcela Kurina-Sanz</li>

                <li> -<b>Representantes de los Laboratorios que integran la UProNat-UNSL</b>:</li>
                <ul class="md:px-5 px-2 py-2"> -<b>Laboratorio de extracción</b>: Dr. Osvaldo Donadel
                    <li> -<b>Laboratorio de fraccionamiento y purificación</b>: Dr. Francisco Cecati</li>
                    <li> -<b>Laboratorio de identificación y análisis</b>: Dr. Guillermo Reta</li>
                    <li> -<b>Laboratorio de biotecnología de cultivos in vitro vegetales</b>: Dr. Alejandro Orden</li>
                    <li> -<b>Laboratorio de actividades biológicas</b>: Dr. Carlos Pungitore</li>
                    <li> -<b>Laboratorio de Tecnología de Alimentos</b>: Lic. Gabriel Castro</li>
                    <li> -<b>Laboratorio de Tecnología Farmacéutica</b>: Dra. Silvina Favier</li>
                </ul>
            </ul>
            <p> Además, participan de la estructura de gestión de la UProNat un representante del Decanato de la FQByF
                (Dr.
                Francisco Gariboto), un representante de la Secretaría de Ciencia y Tecnología de la UNSL (Dr. Fabricio
                Cid), un representante del sector productivo de la región (Sr. Álbaro Martín Araya. Empresa Santa Kaya
                SA) y
                un representante del CCT San Luis (Dr. Pablo Hugo Pacheco).
            </p>

        </div>
    </div>
</div>