#img-2 {
    overflow: hidden;
    animation: rotate-scale 60s ease-in-out infinite forwards;
}

#img-1 {
    overflow: hidden;
    animation: rotate-scale-l 70s ease-in-out infinite forwards;
}
@keyframes rotate-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: translateX(-2vw) rotate(180deg) scale(0.7);
  }
  100% {
    transform: translateX(0) rotate(0deg) scale(1); 
  }
}
@keyframes rotate-scale-l {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: translate(-2vw,-1vw) rotate(-180deg) scale(0.5);
    }
    100% {
      transform: translate(0,0) rotate() scale(1); 
    }
  }





.header {
/*  	min-height: 500px; */
  	background-image: 
	  linear-gradient(to right bottom, 
     rgba(133,171,88, 0.8),
     rgba(222,248,173,0.6)
),
     url('https://images.pexels.com/photos/10181438/pexels-photo-10181438.jpeg');
  	
	background-size: cover;
  	background-position: top;
  	position: relative;
background-color: #777;
 /* 	clip-path: polygon(0 0, 100% 0, 100% 450px, 0 100%);*/
}

.brand-box {
  	position: absolute;
  	top: 40px;
  	left: 40px;
}

.brand { font-size: 20px; }
/*
.text-box {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: left;
}
*/
.heading-primary {
  	color: #fff;
	/*
  	text-transform: uppercase;
	*/
  	backface-visibility: hidden;
  	margin-bottom: 30px;
}

.heading-primary-main {
  	display: block;
  	font-size: 26px;
  	font-weight: 400;
  	letter-spacing: 5px;
}

.heading-primary-sub {
  	display: block;
  	font-size: 18px;
  	font-weight: 700;
  	letter-spacing: 7.4px;
}




.custom-shape-divider-bottom-1716156835 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716156835 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 36px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1716156835 .shape-fill {
    fill: #FFFFFF;
}