<header class="header">
    <!--div class="brand-box">
        <span class="brand"><img class="w-20" src="{{imgs[0].imageUrl}}" alt=""></span>
    </div-->
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="flex">
                <img class="w-14 h-14" src="{{imgs[0].imageUrl}}" alt="">
                <h1 class="heading-primary-main">
                    Desde la investigación en productos naturales
                    hacia el desarrollo de tecnología, servicios y bioproductos para aportar al bienestar humano y
                    ambiental
                </h1>
            </span>
        </h1>

    </div>
</header>