#img-2 {
    overflow: hidden;
    animation: rotate-scale 60s ease-in-out infinite forwards;
}

#img-1 {
    overflow: hidden;
    animation: rotate-scale-l 70s ease-in-out infinite forwards;
}
@keyframes rotate-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: translateX(-200px) rotate(180deg) scale(0.7);
  }
  100% {
    transform: translateX(0) rotate(0deg) scale(1); 
  }
}
@keyframes rotate-scale-l {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: translate(-200px,-100px) rotate(-180deg) scale(0.5);
    }
    100% {
      transform: translate(0,0) rotate() scale(1); 
    }
  }