<div class=" relative  w-full " style="background: linear-gradient(122deg, #ffffff 0%, hsl(0, 0%, 89%) 100%);">


    <div class="flex h-full justify-center py-10">
        <div class=" relative max-w-screen-xl w-full">
            <h1 class="z-20 max-w-screen-sm text-5xl w-full" >Desde la investigación fundamental en productos naturales
               
            </h1>
            <p class="max-w-screen-sm px-5 m-5 text-2xl" style="border-left: 5px solid #7cac54; ;"> Hacia el
                desarrollo de tecnología, servicios y bioproductos para aportar(creo) al bienestar humano y ambiental</p>
        </div>
    </div>

    <img class="absolute z-0" width="600" style="bottom:-220px ; right: 2vw;" src="https://framerusercontent.com/images/oXtycNdE9RgK0RfsQOgfal6o.png" alt="">

    <!--div class="w-full h-full bg-black absolute z-10 top-0 left-0 opacity-70"></div>
    <img class="absolute z-0 top-0 left-0  w-full h-full object-cover "
        src="https://images.pexels.com/photos/9628798/pexels-photo-9628798.jpeg" alt=""-->
    <!--img class="max-h-80"[src]="bannerImg"/-->

</div>