<div class="flex justify-center">

    <div class="max-w-screen-xl w-full px-5">
    

        <h1 class="mb-4 text-2xl font-extrabold text-gray-900 dark:text-white md:text-3xl "><span class="text-transparent bg-clip-text" style="background-color: #7cac54;">Equipamientos</span></h1>
        
        <ul class=" space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
  <li class="flex items-center space-x-3 rtl:space-x-reverse  gap-3">
       <!--svg class="flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
         </svg-->
         ⦁ Lector de Microplacas BioTek 800TSUV.
    </li>
   <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">
    
    ⦁ Termociclador BioRad T100.

    </li> 
 <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">
   
    ⦁ Cuba electroforética (mini-geles) Cole Palmer modelo 28559-10 y fuente de poder para electroforesis Thermo modelo LU-105. 

    </li>
    <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">
   
        ⦁ Sistemas de automatización para para el uso de Kits para determinación de bioactividades.


    </li>
   <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">
   
    ⦁ Transiluminador UV-Visible marca UVP modelo H-20 y sistema de Imagen Fotodocumentador marca UVP.


    </li>
   <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">
 
    ⦁ Sistema de generación de agua ultrapura marca aquaMAX Ultra 370.


    </li>
</ul>


    </div>
</div>

