<div class="flex justify-center">

    <div class="max-w-screen-xl w-full px-5">
    

        <h1 class="mb-4 text-2xl font-extrabold text-gray-900 dark:text-white md:text-3xl "><span class="text-transparent bg-clip-text" style="background-color: #7cac54;">Equipamientos</span></h1>
        
        <ul class="grid-cols-2 grid gap-5 items-start space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">

           
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Equipo de Resonancia Magnética Nuclear Bruker con criomagneto Ascend Long Hold Time de 9.39 Tesla, 400 MHz </li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Espectrómetro de masas trampa de iones cuadrupolar ITQ 900 marca Thermo</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Cromatógrafo gaseoso Trace 1300 con automuestreador AIAS 1310 marca Thermo</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Extractor de CO2 supercrítico TOP120-50-01 marca Toption</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Sistema de extracción con solventes y filtración marca Figmay</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Laboratorio de cultivos celulares equipado con sala de esterilización, cabinas de flujo laminar, cámaras de cultivo, fitrones y sistemas de agitación orbital</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Evaporador Rotatorio Buchii  Modelo R-152, escala preparativa.</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Evaporadores Buchii escala laboratorio.</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Microevaporador rotatorio, marca Buchii, modelo M. 7.</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Liofilizador marca Rificor para utilizar bandejas o balones. </li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Evaporador de baja temperatura, rotatorio, marca SAVANT. </li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Molino a cuchillas de alta velocidad para molienda de material vegetal</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Equipo para hidrodestilación de aceites esenciales a escala piloto marca FiGMAY</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Centrífuga con una capacidad de 2 litros, marca ROLCO.</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Mufla hasta 1200°C, marca VARIOTRON.</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Equipo para Espectrometría de Masas, acoplado a GC y con introducción directa de muestra Thermo Scientific ITQ-900 Ion Trap.</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Espectrofotómetro UV-Vis marca Perkin Elmer, modelo Lambda 25.</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Cromatógrafo de Gases con detector FID Perkin Elmer, modelo Clarus 500.</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Polarímetro Digital Perkin Elmer modelo 341.</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Cromatógrafo líquido de alta perfomance (HPLC) marca Waters </li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Lector de Microplacas BioTek 800TSUV</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Termociclador BioRad T100</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Cuba electroforética (mini-geles) Cole Palmer modelo 28559-10 y fuente de poder para electroforesis Thermo modelo LU-105 </li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Sistemas de automatización para para el uso de Kits para determinación de bioactividades</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Transiluminador UV-Visible marca UVP modelo H-20 y sistema de Imagen Fotodocumentador marca UVP</li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">⦁	Sistema de generación de agua ultrapura marca aquaMAX Ultra 370</li>
            

</ul>


    </div>
</div>

