<div class="flex justify-center">

    <div class="max-w-screen-xl w-full px-5">


    <p class=" text-black  dark:text-white">⦁ Laboratorios de extracción, fraccionamiento y purificación</p> 
        <ul class="px-5 pb-5  gap-5 items-start space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"><p>Extractor de CO<sub>2</sub> supercrítico TOP120-50-01
                marca Toption. </p></li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">Sistema de extracción con solventes y
                filtración marca Figmay. </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">Evaporador Rotatorio Buchii Modelo R-152,
                escala preparativa. </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">Evaporadores Buchii escala laboratorio.
                Microevaporador rotatorio, marca Buchii, modelo M. 7. </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Liofilizador marca Rificor para utilizar
                bandejas o balones. Evaporador de baja temperatura, rotatorio, marca SAVANT. </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">Molino a cuchillas de alta velocidad para
                molienda de material vegetal. </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">Equipo para hidrodestilación de aceites
                esenciales a escala piloto marca FiGMAY. </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">Centrífuga con una capacidad de 2 litros,
                marca ROLCO. Mufla hasta 1200°C, marca VARIOTRON. </li>

        </ul>





        <p class=" text-black  dark:text-white">• Laboratorio de identificación y análisis</p>
        <ul class=" gap-5  pb-5  items-start space-y-1 px-5 text-gray-500 list-disc list-inside dark:text-gray-400">
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Facilidades de Resonancia Magnética
                Nuclear: Imán superconductor blindado de 9,4 Tesla Ascend 400. </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Cavidad central (bore) de 54 mm. </li>
                
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">     Sistema de shims matricial BOSS 3. </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Consola Avance Neo de 2 canales con
                generación de frecuencias para 1H, 19F, 2H y núcleos en el rango 31P-109Ag y capacidad multireceptor.
            </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Sonda con gradiente Z BBI (inversa) de 5
                mm para 1H y núcleos en el rango 31P a 109Ag. 
            </li> 
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">    
                Sonda ATM con gradiente Z BBO SmartProbe de 5 mm para 1H,
                19F y núcleos en el rango 31P a 109Ag.</li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Cambiador automático SampleXpress de 60
                muestras con lector de código de barras.</li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Secuencias 1D y nD. 
            </li>
                <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">
                Experimentos de
                rutina: COSY, NOESY, ROESY, TOCSY, HSQC, HSQC-ed, HMQC, HMBC, DOSY. Experimentos "pure shift".</li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Unidad de enfriamiento BCU I permite
                trabajar a diferentes temperaturas.</li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Equipo para Espectrometría de Masas,
                acoplado a GC y con introducción directa de muestra Thermo Scientific ITQ-900 Ion Trap.</li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Cromatógrafo gaseoso Trace 1300 con
                automuestreador AIAS 1310 marca Thermo.</li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Espectrofotómetro UV-Vis marca Perkin
                Elmer, modelo Lambda 25.</li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Cromatógrafo de Gases con detector FID
                Perkin Elmer, modelo Clarus 500.</li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Polarímetro Digital Perkin Elmer modelo
                341.</li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Cromatógrafo líquido de alta perfomance
                (HPLC) marca Waters</li>

        </ul>

        <p class=" text-black  dark:text-white">• Laboratorio de biotecnología de cultivos in vitro vegetales:</p>
        <ul class=" gap-5  pb-5  items-start space-y-1 px-5 text-gray-500 list-disc list-inside dark:text-gray-400">
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">
                equipado con: sala de esterilización, cabinas de flujo laminar, cámaras de cultivo, fitrones y sistemas
                de agitación orbital
            </li>
        </ul>
        <p class=" text-black  dark:text-white">• Laboratorio de actividades biológicas: </p>
    
        <ul class=" gap-5  pb-5  items-start space-y-1 px-5 text-gray-500 list-disc list-inside dark:text-gray-400">
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">    Lector de Microplacas BioTek 800TSUV.  </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">
                Termociclador BioRad T100. 
            </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3">    
                Cuba electroforética (mini-geles) Cole Palmer modelo 28559-10 y fuente de
                poder para electroforesis Thermo modelo LU-105.
            </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Sistemas de automatización para para el
                uso de Kits para determinación de bioactividades. </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Transiluminador UV-Visible marca UVP
                modelo H-20 y sistema de Imagen Fotodocumentador marca UVP. </li>
            <li class="flex items-center space-x-3 rtl:space-x-reverse gap-3"> Sistema de generación de agua ultrapura
                marca aquaMAX Ultra 370. </li>

        </ul>

    </div>
</div>