<section class="bg white z-10 relative">
    <div id="carousel">



        <div class="flex justify-center items-top h-96"
            style="background-image: url(https://images.pexels.com/photos/10181438/pexels-photo-10181438.jpeg); background-position: center; background-size: cover; background-repeat: no-repeat;">


            <div class="max-w-screen-xl w-full p-5 relative">


                <div class="p-5 rounded-lg  top-0 left-0" style="width: 100%; background: rgb(255,255,255);
                background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(222,248,173,1) 50%); z-index: 0;">



                    <div class="text-left  max-w-screen-sm font-bold">
                        <h1 data-aos="fade-right" data-aos-duration="1500" class=" md:text-5xl text-2xl w-full">
                            Aplicaciones
                        </h1>
                        <p class="z-10 relative">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit iusto libero impedit odit
                            corporis ducimus esse quae sit praesentium molestiae explicabo, voluptates eos unde
                            laborum
                            repudiandae soluta ipsum aspernatur modi.
                        </p>
                    </div>

                </div>
            </div>

        </div>
        <div class="flex justify-center">

            <div class="max-w-screen-xl w-full">
                <home-swiper></home-swiper>
            </div>
        </div>

    </div>

</section>