
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Tipografia';
    src: url("assets/fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
}
body {
   background-color: whitesmoke;
    font-weight: 400;
   
overflow-x: hidden !important;
    
    line-height: 1.7;

}
:root {

--swiper-navigation-color:#7cac54 !important;
--swiper-pagination-color:green !important;
}
ul{
    list-style-type: none !important;
}
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    display: none !important;
}

.colorfondo{
    font-weight: bold;
   color: #5f8540;
}
.colorfondoin{
    
   background-color: #7cac54;
}
