
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Tipografia';
    src: url("assets/fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
}
body {
   
    font-weight: 400;
   


    line-height: 1.7;

}


  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    display: none !important;
}
